.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
span{
    margin-left: 15px;
}
.member-chips{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cursor-pointer{
  cursor: pointer;
}
