<div fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutGap="30px">
    <button class="mt-20"
      mat-raised-button [matMenuTriggerFor]="settingsMenu">{{browserLang | uppercase}}</button>

    <mat-menu style="height: 200px" #settingsMenu>
      <menu *ngFor="let lang of languages"
            (click)="changeLanguage(lang)"
            mat-menu-item>{{lang.key}}</menu>
    </mat-menu>

    <app-country-autocomplete
      [countryCode]="'DE'"
      (country)="countrySelected($event)"
      [customPlaceholder]="'COUNTRY'"
      [customErrorMsg]="'COUNTRY_ERR'"
      [customLabel]="'COUNTRY'"
      
    >
    </app-country-autocomplete>

    <h2 *ngIf="showSelectedCountry">Country:
      {{"COUNTRY." + showSelectedCountry | translate}}
    </h2>
    <h2 *ngIf="showSelectedCountryCode">Code: {{showSelectedCountryCode}}</h2>
    <br>
  </div>
</div>
