<div class="gradiant" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div style="width: 200px" fxLayoutAlign="end end">
    <button class="language-button"
      mat-raised-button [matMenuTriggerFor]="settingsMenu">{{browserLang | uppercase}}</button>

    <mat-menu style="height: 200px" #settingsMenu>
      <menu *ngFor="let lang of languages"
            (click)="changeLanguage(lang)"
            mat-menu-item>{{lang.key}}</menu>
    </mat-menu>
    </div>
    <app-country-autocomplete
      (country)="countrySelected($event)"
      [customPlaceholder]="'COUNTRY'"
      [customErrorMsg]="'COUNTRY_ERR'"
      [customLabel]="'COUNTRY'"
    >
    </app-country-autocomplete>

    <h2 *ngIf="showSelectedCountry">Country:
      {{"COUNTRY." + showSelectedCountry | translate}}
    </h2>
    <h2 *ngIf="showSelectedCountryCode">Code: {{showSelectedCountryCode}}</h2>

    <img *ngIf="showSelectedCountryCode && showSelectedCountryCode.length>0"
         style="width: 500px"
         src="assets/png1000px/{{showSelectedCountryCode | lowercase}}.png">

    <div style="position: absolute; bottom: 20px">
      <div fxLayout="row"
           style="display: flex; align-self: end"
           fxLayoutAlign="center center"
           fxLayoutGap="20px">
        <mat-slide-toggle (change)="show = !show">Reverse function!</mat-slide-toggle>
        <button *ngIf="show" mat-raised-button (click)="setCountryToCountryAutoComplete('GB')">set "United Kingdom" to
          country
          autocomplete
        </button>
      </div>
    </div>
  </div>
</div>
