::ng-deep .mat-menu-content {
  padding: 0 0 !important;
}

.language-button {
  margin-top: 10px;
  width: 70px;
}

.gradiant {
  background: rgb(250,255,254);
  background: linear-gradient(90deg, rgba(250,255,254,1) 0%, rgba(195,246,255,1) 100%);
  width: 100%;
  height: 100%;
}
